/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply scroll-mt-20;
}

html {
	@apply overflow-x-hidden;
}

body {
	@apply overflow-x-hidden bg-white text-black selection:bg-brand-a selection:text-black dark:bg-darkest dark:text-white;
}

dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
span,
a,
label,
li,
button,
small, 
blockquote {
	@apply font-primary font-medium;
}

pre,
code {
	@apply font-mono;
}

b,
strong {
	@apply font-bold;
}

h1 {
	@apply text-3xl font-extrabold tracking-wide;
}

h2 {
	@apply text-2xl font-bold tracking-wide;
}

h3 {
	@apply text-xl font-bold;
}

hr {
	@apply border-black dark:border-white;
}

blockquote {
	@apply border-l-4 border-gray-500/50 bg-dark/20 p-4 text-sm;
}

.shiki {
	@apply rounded-lg border-2 border-black p-4 shadow-lg dark:border-dark;
}

.shiki span {
	@apply font-mono font-medium;
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.toc {
	@apply p-4 my-4 bg-neutral-200 dark:bg-darker 
	border border-black dark:border-dark rounded-md;
}

.toc p {
	@apply text-2xl font-black mb-2;
}

.toc ol {
	@apply list-decimal ml-5 pl-0;
}

.toc li {
	@apply my-1;
}

.toc ol > li {
	counter-increment: root;
}

.toc ol > li > ol {
	counter-reset: subsection;
}

.toc ol > li > ol > li {
	counter-increment: subsection;
	@apply list-none;
}

.toc ol > li > ol > li:before {
	content: counter(root) "." counter(subsection) " ";
}

.toc ol li a {
	@apply hover:text-brand-c transition-colors duration-100;
}

.dotted {
	background: transparent;
	background-image: radial-gradient(#5557 1px, transparent 0);
	background-size: 22px 22px;
	background-attachment: fixed;
}