@use './media' as *;
@use './theme.scss';

$breakpoints: (
	desktop: 1024px
);

:root {
	--font-primary: 'work-sans', sans-serif;
	--font-mono: 'jetbrains-mono', monospace;
	--warn: #ff4040;
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

a,
p,
li,
h1,
h2,
h3,
h4,
h5,
section,
span,
small {
	font-family: var(--font-primary);
}

pre,
code {
	font-family: var(--font-mono);
}

::selection {
	background-color: var(--brand-b) !important;
	color: var(--bg-a) !important;
}

:focus {
	outline: none !important;
}

body {
	overflow-x: hidden;
	min-height: 100vh;
	margin: 0;

	background-color: var(--bg-a);

	transition: color 0.5s background 0.3s background-color 0.3s;
}

#svelte {
	flex-direction: column;
	display: flex;

	overflow-x: hidden;
	min-height: 100vh;
}

h1,
h2 {
	font-weight: 400;
	color: var(--fg-a);
}

.page-title {
	font-weight: 700;
}

p,
li,
u {
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.5;
	color: var(--fg-a, --text-color);
	& a {
		color: var(--fg-c);
	}
}

sup {
	vertical-align: super;
	font-size: 0.8em;
	color: var(--fg-a, --text-color);
}

a {
	text-decoration: underline;
	text-decoration-color: var(--bg-d);
	color: var(--fg-a);
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin-bottom: 0 0 1em 0;
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

h3,
h4,
h5,
section {
	color: var(--fg-a);
}

code,
code span {
	background: transparent !important;
}

pre {
	padding: 0.5em;
	color: var(--fg-a);
	border-radius: 3px;
	overflow-x: auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@include media('>desktop') {
	h1 {
		font-size: 2.4rem;
	}
}
