@mixin variables($map) {
	@each $variable, $colour in $map {
		--#{$variable}: #{$colour};
		--#{$variable}-rgb: #{red($colour) + ', ' + green($colour) + ', ' + blue($colour)};
	}
}

:root {
	--brand-a: #7785ff;
	--brand-b: #9b70ff;
	--brand-c: #db81ff;
	--brand-a-rgb: 149, 160, 255;
	--brand-b-rgb: 160, 119, 255;
	--brand-c-rgb: 222, 139, 255;
	--always-dark: #040305;
	&[theme='light'] {
		@include variables(
			(
				fg-a: #040305,
				fg-b: #16131d,
				fg-c: #1c1f25,
				fg-d: #363047,
				bg-a: #ffffff,
				bg-b: #cecbd4,
				bg-c: #95939b,
				bg-d: #565558
			)
		);
	}
	&[theme='dark'] {
		@include variables(
			(
				fg-a: #ffffff,
				fg-b: #cecbd4,
				fg-c: #95939b,
				fg-d: #565558,
				bg-a: #040305,
				bg-b: #16131d,
				bg-c: #1c1f25,
				bg-d: #363047
			)
		);
	}
}
